@import "../../styles/reference.scss";

.root {
  margin-top: $grid-gutter-size;

  & + main {
    margin-top: 128px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: $text-18;
  font-weight: 600;
  line-height: calc(1.61 * $text-18);

  @media (min-width: $breakpoint-laptop) {
    font-size: $text-24;
    line-height: calc(1.61 * $text-24);
  }

  &_circle {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    overflow: hidden;

    &::before,
    &::after {
      position: absolute;
      width: 100%;
      height: 50%;
      left: 0;
      content: "";
    }

    &::before {
      top: 0;
      // background-color: #E4544D;
      // background-color: #E7ECE3;
      background-color: #2F506C;
    }
    
    &::after {
      bottom: 0;
      // background-color: #D8A097;
      // background-color: #AFBFAB;
      background-color: #91A6BB;
    }
  }

  &_text {
    margin-left: 12px;
  }
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.linkItem {
  &:not(:first-child) {
    margin-left: 16px;
  }
}

.link {
  display: block;
  width: 24px;
  height: 24px;
  transition: color 0.25s ease-out;
  color: $color-gray;

  &:hover {
    color: $color-black;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
