$text-8: 8;
$text-16: 16;
$text-24: 24;
$text-32: 32;
$text-40: 40;
$text-48: 48;
$text-56: 56;
$text-64: 64;
$text-72: 72;
$text-80: 80;
$text-88: 88;
$text-96: 96;
$text-104: 104;
$text-112: 112;
$text-120: 120;
$text-128: 128;
$text-136: 136;
$text-144: 144;
$text-152: 152;
$text-160: 160;
$text-168: 168;
$text-176: 176;
$text-184: 184;
$text-192: 192;
$text-200: 200;

:export {
  text8: $text-8;
  text16: $text-16;
  text24: $text-24;
  text32: $text-32;
  text40: $text-40;
  text48: $text-48;
  text56: $text-56;
  text64: $text-64;
  text72: $text-72;
  text80: $text-80;
  text88: $text-88;
  text96: $text-96;
  text104: $text-104;
  text112: $text-112;
  text120: $text-120;
  text128: $text-128;
  text136: $text-136;
  text144: $text-144;
  text152: $text-152;
  text160: $text-160;
  text168: $text-168;
  text176: $text-176;
  text184: $text-184;
  text192: $text-192;
  text200: $text-200;
}
