$size-2: 2;
$size-4: 4;
$size-6: 6;
$size-8: 8;
$size-10: 10;
$size-12: 12;
$size-14: 14;
$size-16: 16;
$size-18: 18;
$size-20: 20;
$size-22: 22;
$size-24: 24;
$size-32: 32;
$size-40: 40;
$size-48: 48;
$size-56: 56;
$size-64: 64;
$size-72: 72;
$size-80: 80;
$size-88: 88;
$size-96: 96;
$size-104: 104;
$size-112: 112;
$size-120: 120;
$size-128: 128;
$size-136: 136;
$size-144: 144;
$size-152: 152;
$size-160: 160;
$size-168: 168;
$size-176: 176;
$size-184: 184;
$size-192: 192;
$size-200: 200;
$size-208: 208;
$size-216: 216;
$size-224: 224;
$size-232: 232;
$size-240: 240;
$size-248: 248;
$size-256: 256;
$size-264: 264;
$size-272: 272;
$size-280: 280;
$size-288: 288;
$size-296: 296;

:export {
  size2: $size-2;
  size4: $size-4;
  size6: $size-6;
  size8: $size-8;
  size10: $size-10;
  size12: $size-12;
  size14: $size-14;
  size16: $size-16;
  size18: $size-18;
  size20: $size-20;
  size22: $size-22;
  size24: $size-24;
  size32: $size-32;
  size40: $size-40;
  size48: $size-48;
  size56: $size-56;
  size64: $size-64;
  size72: $size-72;
  size80: $size-80;
  size88: $size-88;
  size96: $size-96;
  size104: $size-104;
  size112: $size-112;
  size120: $size-120;
  size128: $size-128;
  size136: $size-136;
  size144: $size-144;
  size152: $size-152;
  size160: $size-160;
  size168: $size-168;
  size176: $size-176;
  size184: $size-184;
  size192: $size-192;
  size200: $size-200;
  size208: $size-208;
  size216: $size-216;
  size224: $size-224;
  size232: $size-232;
  size240: $size-240;
  size248: $size-248;
  size256: $size-256;
  size264: $size-264;
  size272: $size-272;
  size280: $size-280;
  size288: $size-288;
  size296: $size-296;
}
