@import '../../references.scss';

.root {
  margin-top: toEm(120);

  @media (min-width: $breakpoint-tablet) {
    margin-top: toEm(216);
  }

  @media (min-width: $breakpoint-laptop) {
    margin-top: toEm(296);
  }
}

.container {
  padding: toEm(48);
  border-radius: toEm(32);
  background-color: var(--color-gray);

  @media (min-width: $breakpoint-tablet) {
    padding: toEm(96) toEm(120);
    border-radius: toEm(40);
  }

  @media (min-width: $breakpoint-laptop) {
    padding: toEm(136) toEm(216);
    border-radius: toEm(48);
  }
}

.subTitle {
  font-size: toEm(20);
  font-weight: 415;

  @media (min-width: $breakpoint-tablet) {
    font-size: toEm(24);
  }

  @media (min-width: $breakpoint-laptop) {
    font-size: toEm(40);
  }
}

.title {
  @include title-xl;
  margin-top: toEm(6);

  @media (min-width: $breakpoint-tablet) {
    max-width: 80%;
    margin-top: toEm(8);
  }

  @media (min-width: $breakpoint-laptop) {
    margin-top: toEm(6);
  }
}

.link {
  position: relative;
  display: inline-block;
  margin-top: toEm(32);
  border-radius: toEm(100);
  font-size: toEm(18);
  font-weight: 500;
  text-align: center;
  background-color: var(--color-accent);
  color: var(--color-background);
  overflow: hidden;
  z-index: 1;

  @media (min-width: $breakpoint-tablet) {
    margin-top: toEm(48);
    font-size: toEm(20);
  }

  @media (min-width: $breakpoint-laptop) {
    font-size: toEm(32);
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    border-radius: 70%;
    transition: transform 0.45s cubic-bezier(0.4, 0, 0, 1),
      border-radius 0.45s cubic-bezier(0.4, 0, 0, 1);
    background-color: var(--color-accent-dark);
    content: '';
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    display: block;
    padding: toEm(18) toEm(32);
    transition: transform 0.45s cubic-bezier(0.4, 0, 0, 1);
    content: attr(data-text);

    @media (min-width: $breakpoint-tablet) {
      padding: toEm(20) toEm(32);
    }
  }

  &:hover {
    &::before {
      transform: translateY(0);
      border-radius: 0;
    }

    &::after {
      transform: translateY(0%);
      transition-delay: 0.1s;
    }

    .linkText {
      transform: translateY(-100%);
      transition-delay: 0s;
    }
  }
}

.linkText {
  position: relative;
  transform: translateY(0);
  display: block;
  padding: toEm(18) toEm(32);
  transition: transform 0.45s cubic-bezier(0.4, 0, 0, 1) 0.1s;

  @media (min-width: $breakpoint-tablet) {
    padding: toEm(20) toEm(32);
  }
}
