@import '../../references.scss';

.root {
  margin-top: toEm($size-120);

  @media (min-width: $breakpoint-tablet) {
    margin-top: toEm($size-216);
  }

  @media (min-width: $breakpoint-laptop) {
    margin-top: toEm($size-296);
  }
}

.container {
  padding: toEm($size-48);
  border-radius: toEm($size-32);
  background-color: $color-gray;

  @media (min-width: $breakpoint-tablet) {
    padding: toEm($size-96) toEm($size-120);
    border-radius: toEm($size-40);
  }

  @media (min-width: $breakpoint-laptop) {
    padding: toEm($size-136) toEm($size-216);
    border-radius: toEm($size-48);
  }
}

.subTitle {
  font-size: toEm($size-20);
  font-weight: 415;

  @media (min-width: $breakpoint-tablet) {
    font-size: toEm($size-24);
  }

  @media (min-width: $breakpoint-laptop) {
    font-size: toEm($size-40);
  }
}

.title {
  @include title-xl;
  margin-top: toEm($size-6);

  @media (min-width: $breakpoint-tablet) {
    max-width: 80%;
    margin-top: toEm($size-8);
  }
  
  @media (min-width: $breakpoint-laptop) {
    margin-top: toEm($size-6);
  }
}

.link {
  position: relative;
  display: inline-block;
  margin-top: toEm($size-32);
  border-radius: toEm(100);
  font-size: toEm($size-18);
  font-weight: 500;
  text-align: center;
  background-color: $color-red;
  color: $color-white;
  overflow: hidden;
  z-index: 1;

  @media (min-width: $breakpoint-tablet) {
    margin-top: toEm($size-48);
    font-size: toEm($size-20);
  }

  @media (min-width: $breakpoint-laptop) {
    font-size: toEm($size-32);
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    border-radius: 70%;
    transition: transform 0.45s cubic-bezier(0.4, 0, 0, 1),
      border-radius 0.45s cubic-bezier(0.4, 0, 0, 1);
    background-color: $color-red-dark;
    content: '';
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    display: block;
    padding: toEm($size-18) toEm($size-32);
    transition: transform 0.45s cubic-bezier(0.4, 0, 0, 1);
    content: attr(data-text);

    @media (min-width: $breakpoint-tablet) {
      padding: toEm($size-20) toEm($size-32);
    }
  }

  &:hover {
    &::before {
      transform: translateY(0);
      border-radius: 0;
    }

    &::after {
      transform: translateY(0%);
      transition-delay: 0.1s;
    }

    .linkText {
      transform: translateY(-100%);
      transition-delay: 0s;
    }
  }
}

.linkText {
  position: relative;
  transform: translateY(0);
  display: block;
  padding: toEm($size-18) toEm($size-32);
  transition: transform 0.45s cubic-bezier(0.4, 0, 0, 1) 0.1s;
  
  @media (min-width: $breakpoint-tablet) {
    padding: toEm($size-20) toEm($size-32);
  }
}
