@import '../../references.scss';

.root {
  margin-top: toEm(88);

  @media (min-width: $breakpoint-tablet) {
    margin-top: toEm(128);
  }

  @media (min-width: $breakpoint-laptop) {
    margin-top: toEm(248);
  }
}

.title {
  @include title-xl;
  padding-left: toEm(14);

  @media (min-width: $breakpoint-tablet) {
    padding-left: 0;
  }

  &_line {
    transform-origin: left center;
    display: block;
  }
}

.gridContainer {
  padding-top: toEm(80);

  @media (min-width: $breakpoint-tablet) {
    padding-top: toEm(112);
  }

  @media (min-width: $breakpoint-laptop) {
    padding-top: toEm(248);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: toEm(32);
  column-gap: toEm(16);
  user-select: none;

  @media (min-width: $breakpoint-tablet) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: toEm(64);
    column-gap: toEm(32);
  }

  @media (min-width: $breakpoint-laptop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.item {
  position: relative;
}

.itemWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: toEm(296);
  background-color: var(--color-gray);

  @media (min-width: $breakpoint-tablet) {
    height: toEm(296 * 1.25);
  }
}

.itemButtons {
  position: absolute;
  bottom: toEm(16);
  right: toEm(24);
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.itemButton {
  padding: toEm(10);
  border: none;
  transition: opacity 0.15s ease-out;
  font-family: $font-satoshi-variable;
  font-size: toEm(16);
  font-weight: 550;
  background-color: var(--color-gray);
  opacity: 0.2;
  cursor: pointer;

  &:hover {
    opacity: 0.4;
  }
}