@import '../../references.scss';

.root {
  margin-top: toEm($size-88);

  @media (min-width: $breakpoint-tablet) {
    margin-top: toEm($size-128);
  }

  @media (min-width: $breakpoint-laptop) {
    margin-top: toEm($size-248);
  }
}

.title {
  @include title-xl;
  padding-left: toEm($size-14);

  @media (min-width: $breakpoint-tablet) {
    padding-left: 0;
  }

  &_line {
    transform-origin: left center;
    display: block;
  }
}

.gridContainer {
  padding-top: toEm($size-80);

  @media (min-width: $breakpoint-tablet) {
    padding-top: toEm($size-112);
  }

  @media (min-width: $breakpoint-laptop) {
    padding-top: toEm($size-248);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: toEm($size-32);
  column-gap: toEm($size-16);
  user-select: none;

  @media (min-width: $breakpoint-tablet) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: toEm($size-64);
    column-gap: toEm($size-32);
  }

  @media (min-width: $breakpoint-laptop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gridItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: toEm($size-296);
  background-color: var(--color-gray);

  @media (min-width: $breakpoint-tablet) {
    height: toEm($size-296 * 1.25);
  }
}
