@import '../../../references.scss';

.root {
  position: relative;
  width: toEm(64);
  height: toEm(64);
  border-radius: toEm(64);
  cursor: pointer;

  @media (min-width: $breakpoint-tablet) {
    width: toEm(88);
    height: toEm(88);
  }

  &::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 0.45s cubic-bezier(0.17, 0.67, 0.3, 1.33);
    background-color: var(--color-accent);
    content: '';
  }

  &:hover {
    &::before {
      transform: scale(1.2);
    }
  }

  .line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: toEm(2);
    border-radius: toEm(64);
    background-color: var(--color-background);

    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: toEm(64);
      background-color: var(--color-background);
      content: '';
    }

    &::before {
      top: toEm(-6);

      @media (min-width: $breakpoint-tablet) {
        top: toEm(-8);
      }
    }

    &::after {
      top: toEm(6);

      @media (min-width: $breakpoint-tablet) {
        top: toEm(8);
      }
    }
  }
}
