@import '../../references.scss';

.root {
  position: relative;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: toEm(296);
  background-color: var(--color-gray);

  @media (min-width: $breakpoint-tablet) {
    height: toEm(296 * 1.25);
  }
}

.buttons {
  position: absolute;
  bottom: toEm(10);
  right: toEm(18);
  display: flex;
  justify-content: flex-end;
  align-items: stretch;

  @media (min-width: $breakpoint-tablet) {
    bottom: toEm(16);
  right: toEm(24);
  }
}

.button {
  padding: toEm(10);
  border: none;
  transition: opacity 0.15s ease-out;
  font-family: $font-satoshi-variable;
  font-size: toEm(14);
  font-weight: 550;
  background: transparent;
  color: var(--color-text);
  opacity: 0.2;
  cursor: pointer;

  @media (min-width: $breakpoint-tablet) {
    font-size: toEm(16);
  }

  &:hover {
    opacity: 0.5;
  }
}