@import '../../../references.scss';

.root {
  position: relative;
  width: toEm($size-96);
  height: toEm($size-96 / 2);
  border-radius: toEm($size-64);
  background-color: $color-red;
  cursor: pointer;
  overflow: hidden;

  @media (min-width: $breakpoint-tablet) {
    width: toEm($size-136);
    height: toEm($size-136 / 2);
  }

  .input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  .marker {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    width: toEm($size-96 / 2);
    height: toEm($size-96 / 2);
    border: toEm(4) solid $color-red;
    border-radius: 50%;
    transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: $color-white;

    @media (min-width: $breakpoint-tablet) {
      width: toEm($size-136 / 2);
      height: toEm($size-136 / 2);
      border-width: toEm(6);
    }
  }

  .input:checked ~ .marker {
    transform: translateX(0%);
  }

  span {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: toEm($size-96 / 2);
    height: toEm($size-96 / 2);
    transition: color 0.3s ease;
    will-change: transform;

    @media (min-width: $breakpoint-tablet) {
      width: toEm($size-136 / 2);
      height: toEm($size-136 / 2);
    }

    &:nth-child(3) {
      color: $color-white;
    }
    &:nth-child(4) {
      color: $color-red;
    }

    svg {
      width: toEm($size-16);
      height: toEm($size-16);

      @media (min-width: $breakpoint-tablet) {
        width: toEm($size-22);
        height: toEm($size-22);
      }
    }
  }

  .input:checked ~ span {
    &:nth-child(3) {
      color: $color-red;
    }
    &:nth-child(4) {
      color: $color-white;
    }
  }
}

// .root {
//   position: relative;
//   width: 70px;
//   height: 35px;
//   border-radius: 50px;
//   background-color: #ff424d;
//   cursor: pointer;
//   overflow: hidden;

//   input {
//     position: absolute;
//     width: 0;
//     height: 0;
//     opacity: 0;
//   }

//   div {
//     position: absolute;
//     top: 0;
//     left: 0;
//     transform: translateX(100%);
//     width: 35px;
//     height: 35px;
//     border: 3px solid #ff424d;
//     border-radius: 50%;
//     transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
//     background-color: #ffffff;
//   }

//   input:checked ~ div {
//     transform: translateX(0%);
//   }

//   span {
//     position: relative;
//     display: inline-flex;
//     justify-content: center;
//     align-items: center;
//     width: 35px;
//     height: 35px;
//     transition: color 0.3s ease;
//     will-change: transform;

//     &:nth-child(3) {
//       color: #ffffff;
//     }
//     &:nth-child(4) {
//       color: #ff424d;
//     }

//     svg {
//       width: 12px;
//       height: 12px;
//     }
//   }

//   input:checked ~ span {
//     &:nth-child(3) {
//       color: #ff424d;
//     }
//     &:nth-child(4) {
//       color: #ffffff;
//     }
//   }
// }
