@import '../../../references.scss';

.root {
  position: relative;
  width: toEm(96);
  height: toEm(96 / 2);
  border-radius: toEm(64);
  background-color: var(--color-accent);
  overflow: hidden;
  cursor: pointer;

  @media (min-width: $breakpoint-tablet) {
    width: toEm(136);
    height: toEm(136 / 2);
  }
}

.input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.marker {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
  width: 50%;
  height: 100%;
  border: toEm(4) solid var(--color-accent);
  border-radius: 50%;
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: var(--color-background);

  @media (min-width: $breakpoint-tablet) {
    border-width: toEm(6);
  }
}

.input:checked ~ .marker {
  transform: translateX(0%);
}

.icon {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  transition: color 0.3s ease;
  will-change: transform;

  &:nth-child(3) {
    color: var(--color-background);
  }

  &:nth-child(4) {
    color: var(--color-accent);
  }

  svg {
    width: toEm(16);
    height: toEm(16);

    @media (min-width: $breakpoint-tablet) {
      width: toEm(22);
      height: toEm(22);
    }
  }
}

.input:checked ~ .icon {
  &:nth-child(3) {
    color: var(--color-accent);
  }

  &:nth-child(4) {
    color: var(--color-background);
  }
}
