@import '../../../references.scss';

.root {
  position: relative;
  display: inline-block;
  font-size: toEm(22);
  font-weight: 450;
  color: var(--color-gray-dark);
  cursor: pointer;

  @media (min-width: $breakpoint-tablet) {
    font-size: toEm(30);
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(toEm(-15));
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1),
      opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0;
    pointer-events: none;
    content: attr(data-text);
  }

  &:hover {
    &::before {
      transform: translateY(0);
      opacity: 1;
    }

    .text {
      transform: translateY(toEm(15));
      opacity: 0;
    }
  }
}

.text {
  display: block;
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1),
    opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  pointer-events: none;
}
