@import '../../../references.scss';

.root {
  position: relative;
  display: flex;
  align-items: flex-start;
  cursor: pointer;

  &:hover {
    .bar {
      animation-play-state: paused;
      opacity: 0.5;
    }
  }
}

.bar {
  transform-origin: center;
  width: toEm($size-4);
  height: toEm($size-32);
  margin: 0 toEm($size-2);
  border-radius: toEm($size-64);
  animation-name: sound;
  animation-delay: 0.7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: opacity 0.3s ease;
  background-color: $color-red;

  @media (min-width: $breakpoint-tablet) {
    width: toEm(5);
    height: toEm($size-40);
  }

  &:nth-child(1) {
    animation-duration: 0.47s;
  }

  &:nth-child(2) {
    animation-duration: 0.43s;
  }

  &:nth-child(3) {
    animation-duration: 0.4s;
  }

  &:nth-child(4) {
    animation-duration: 0.45s;
  }

  &:nth-child(5) {
    animation-duration: 0.43s;
  }

  &:nth-child(6) {
    animation-duration: 0.42s;
  }

  @keyframes sound {
    from {
      transform: scaleY(1);
    }

    to {
      transform: scaleY(0.2);
    }
  }
}
