@import '../../references.scss';

.root {
  margin-top: toEm(32);

  @media (min-width: $breakpoint-tablet) {
    margin-top: toEm(64);
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: toEm(32);
  font-weight: 450;

  @media (min-width: $breakpoint-tablet) {
    font-size: toEm(40);
  }

  &_circle {
    position: absolute;
    left: 0;
    width: toEm(16);
    height: toEm(16);

    &::before,
    &::after {
      position: absolute;
      width: 100%;
      height: 50%;
      left: 0;
      background-color: var(--color-accent);
      content: '';
    }

    &::before {
      top: 0;
      border-top-left-radius: toEm(104);
      border-top-right-radius: toEm(104);
    }

    &::after {
      bottom: 0;
      border-bottom-left-radius: toEm(104);
      border-bottom-right-radius: toEm(104);
      opacity: 0.7;
    }
  }

  &_text {
    transform-origin: left center;
    margin-left: toEm(16 / 2);
    padding-left: toEm(16);
  }
}

.buttonList {
  display: flex;
  align-items: center;
}

.buttonItem {
  width: toEm(34);
  height: toEm(34);

  &:not(:first-child) {
    margin-left: toEm(8);
  }

  @media (min-width: $breakpoint-tablet) {
    width: toEm(40);
    height: toEm(40);
  }
}

.button {
  display: block;
  width: 100%;
  height: 100%;
  color: var(--color-text);
  transition: opacity 0.15s ease-out;
  will-change: opacity;
  opacity: 0.2;

  &:hover {
    opacity: 0.3;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}