@import '../../references.scss';

.root {
  margin-top: toEm($size-32);

  @media (min-width: $breakpoint-tablet) {
    margin-top: toEm($size-64);
  }
}

.title {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: $font-satoshi-medium;
  font-size: toEm($size-24);

  @media (min-width: $breakpoint-tablet) {
    font-size: toEm($size-40);
  }

  &_circle {
    position: absolute;
    left: 0;
    width: toEm($size-16);
    height: toEm($size-16);

    &::before,
    &::after {
      position: absolute;
      width: 100%;
      height: 50%;
      left: 0;
      content: '';
    }

    &::before {
      top: 0;
      border-top-left-radius: toEm($size-104);
      border-top-right-radius: toEm($size-104);
      background-color: $color-red;
    }

    &::after {
      bottom: 0;
      border-bottom-left-radius: toEm($size-104);
      border-bottom-right-radius: toEm($size-104);
      background-color: $color-red-light;
    }
  }

  &_text {
    transform-origin: left center;
    margin-left: toEm($size-16 / 2);
    padding-left: toEm($size-16);
  }
}
