@import "../../styles/reference.scss";

.root {}

.title {
  max-width: 515px;
  margin: 0 auto;
  font-size: $text-36;
  font-weight: 600;
  text-align: center;
  line-height: 1.1;

  @media (min-width: $breakpoint-laptop) {
    font-size: $text-48;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: $grid-gutter-size;
  column-gap: $grid-gutter-size;
  margin-top: 128px;

  @media (min-width: $breakpoint-tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (min-width: $breakpoint-laptop) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.gridItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 144px;
  border-radius: 7px;
  background-color: $color-gray-light;

  &:hover {
    .gridItemLink {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.gridItemLink {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  transition: color 0.25s ease-out, opacity 0.25s ease-out;
  color: $color-gray;
  opacity: 0;
  pointer-events: none;

  &:hover {
    color: $color-black;
  }

  svg {
    width: 15px;
    height: 15px;
  }
}