@import '../../references.scss';

.root {
  margin-top: toEm(112);
  margin-bottom: toEm(56);
  text-align: center;

  @media (min-width: $breakpoint-tablet) {
    margin-top: toEm(216);
    margin-bottom: toEm(112);
  }

  @media (min-width: $breakpoint-laptop) {
    margin-top: toEm(296);
    margin-bottom: toEm(144);
  }
}

.text {
  font-size: toEm(18);
  font-weight: 450;
  color: var(--color-text);
  opacity: 0.2;

  @media (min-width: $breakpoint-tablet) {
    font-size: toEm(24);
  }
}

.externalLink {
  position: relative;
  display: inline-block;

  &_icon {
    position: absolute;
    top: 0;
    left: 100%;
    width: toEm(16);
    height: toEm(16);
    pointer-events: none;

    &::after {
      position: absolute;
      top: toEm(1);
      left: 0;
      transform-origin: center;
      transform: rotate(-45deg) translateX(toEm(-6));
      transition: transform 0.45s cubic-bezier(0.4, 0, 0, 1),
        opacity 0.45s cubic-bezier(0.4, 0, 0, 1);
      width: 100%;
      height: 100%;
      margin-left: toEm(2);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='svg-arrow-right' viewBox='0 0 16 12' width='100%25' height='100%25'%3E%3Cpolygon points='15.8,6 15.3,5.5 15.3,5.5 9.9,0.1 9.2,0.8 13.9,5.5 0.5,5.5 0.5,6.5 13.9,6.5 9.2,11.2 9.9,11.9 15.3,6.5 15.3,6.5'%3E%3C/polygon%3E%3C/svg%3E");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0;
      pointer-events: none;
      content: '';

      [data-theme='dark'] & {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='svg-arrow-right' viewBox='0 0 16 12' width='100%25' height='100%25'%3E%3Cpolygon points='15.8,6 15.3,5.5 15.3,5.5 9.9,0.1 9.2,0.8 13.9,5.5 0.5,5.5 0.5,6.5 13.9,6.5 9.2,11.2 9.9,11.9 15.3,6.5 15.3,6.5' fill='%23f5f5f7'%3E%3C/polygon%3E%3C/svg%3E");
      }
    }
  }

  &:hover {
    .externalLink_icon {
      &::after {
        transform: rotate(-45deg) translateX(0);
        opacity: 1;
      }
    }
  }
}
