@import '../../references.scss';

$ease: cubic-bezier(0.65, 0, 0.35, 1);
$duration: 0.45s;

.root {
  margin-top: toEm($size-112);
  margin-bottom: toEm($size-56);
  text-align: center;

  @media (min-width: $breakpoint-tablet) {
    margin-top: toEm($size-216);
    margin-bottom: toEm($size-112);
  }

  @media (min-width: $breakpoint-laptop) {
    margin-top: toEm($size-296);
    margin-bottom: toEm($size-144);
  }
}

.text {
  font-size: toEm($size-18);
  opacity: 0.2;

  @media (min-width: $breakpoint-tablet) {
    font-size: toEm($size-24);
  }
}

.externalLink {
  position: relative;
  display: inline-block;
  padding-bottom: toEm($size-2);
  will-change: transform, opacity;

  &::before,
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: toEm(1);
    will-change: transform;
    background-color: $color-black;
    content: '';
  }

  &::before {
    transform-origin: right;
    transform: scaleX(1);
    transition: transform $duration $ease 0.2s;
  }

  &::after {
    transform-origin: left;
    transform: scaleX(0);
    transition: transform $duration $ease;
  }

  &_icon {
    position: absolute;
    top: 0;
    left: 100%;
    width: toEm($size-16);
    height: toEm($size-16);
    pointer-events: none;

    &::before,
    &::after {
      position: absolute;
      inset: 0;
      transform-origin: center;
      transform: rotate(-45deg);
      margin-left: toEm(2);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='svg-arrow-right' viewBox='0 0 16 12' width='100%25' height='100%25'%3E%3Cpolygon points='15.8,6 15.3,5.5 15.3,5.5 9.9,0.1 9.2,0.8 13.9,5.5 0.5,5.5 0.5,6.5 13.9,6.5 9.2,11.2 9.9,11.9 15.3,6.5 15.3,6.5'%3E%3C/polygon%3E%3C/svg%3E");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      pointer-events: none;
      content: '';
    }

    &::before {
      transition: transform $duration $ease 0.2s, opacity $duration $ease 0.2s;
    }

    &::after {
      transform: rotate(-45deg) translateX(toEm(-$size-6));
      transition: transform $duration $ease, opacity $duration $ease;
      opacity: 0;
    }
  }

  &:hover {
    &::before {
      transform: scaleX(0);
      transition: transform $duration $ease;
    }

    &::after {
      transform: scaleX(1);
      transition: transform $duration $ease 0.3s;
    }

    .externalLink_icon {
      &::before {
        transform: rotate(-45deg) translateX(toEm($size-6));
        transition: transform $duration $ease, opacity $duration $ease;
        opacity: 0;
      }

      &::after {
        transform: rotate(-45deg) translateX(0);
        transition: transform $duration $ease 0.3s, opacity $duration $ease 0.3s;
        opacity: 1;
      }
    }
  }
}
