@mixin title-xl {
  font-size: toEm(48);
  font-weight: 450;
  letter-spacing: toEm(-0.7);
  line-height: 1;

  @media (min-width: $breakpoint-tablet) {
    font-size: toEm(72);
  }

  @media (min-width: $breakpoint-laptop) {
    font-size: toEm(128);
  }
}