@mixin title-xl {
  // font-family: $font-satoshi-medium;
  font-size: toEm($size-48);
  letter-spacing: toEm(-0.7);
  line-height: 1;

  @media (min-width: $breakpoint-tablet) {
    font-size: toEm($size-72);
  }

  @media (min-width: $breakpoint-laptop) {
    font-size: toEm($size-128);
  }
}