/* ---------------------------------------------------------------- COLORS */

$color-black: #1D1D1F;
$color-white: #FFFFFF;
$color-gray: #86868B;
$color-gray-light: #F2F2F2;

:export {
  colorBlack: $color-black;
  colorWhite: $color-white;
  colorGray: $color-gray;
  colorGrayLight: $color-gray-light;
}
