.root {
  position: relative;
  width: 70px;
  height: 35px;
  border-radius: 50px;
  background-color: #2F506C;
  cursor: pointer;
  overflow: hidden;

  input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  div {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    width: 35px;
    height: 35px;
    border: 3px solid #2F506C;
    border-radius: 50%;
    transition: transform 0.25s cubic-bezier(.645,.045,.355,1);
    background-color: #FFF;
  }

  input:checked ~ div {
    transform: translateX(0%);
  }

  span {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    transition: color 0.3s ease;
    will-change: transform;
    
    &:nth-child(3) {color: #91A6BB;}
    &:nth-child(4) {color: #2F506C;}
    
    svg {
      width: 12px;
      height: 12px;
    }
  }

  input:checked ~ span {
    &:nth-child(3) {color: #2F506C;}
    &:nth-child(4) {color: #91A6BB;}
  }
}