@import './references.scss';
@import './fonts/fonts.scss';

// -------------------------------------------------------- VARIABLES

:root {
  --color-text: #000000;
  --color-background: #ffffff;
  --color-accent: #ff424d;
  --color-accent-light: #ff6871;
  --color-accent-dark: #ff2935;
  --color-gray: #f6f6f6;
}

[data-theme='dark'] {
  --color-text: #f5f5f7;
  --color-background: #000000;
  --color-accent: #768390;
  --color-accent-light: #909daa;
  --color-accent-dark: #626e7b;
  --color-gray: #141414;
}

// -------------------------------------------------------- COMMON

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-text);
  cursor: pointer;
}

// -------------------------------------------------------- GLOBAL

html {
  &.locked,
  &.locked body {
    height: calc(var(--window-inner-height) - 1px);
    overflow: hidden;
  }
}

body {
  width: 100vw;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: $font-satoshi-variable;
  font-size: calc(1vw * 1000 / 375); // 10px on 375px screen width
  font-weight: 400;
  letter-spacing: toEm(-0.5);
  line-height: 1.2;
  overflow-x: hidden;

  @media (min-width: $breakpoint-tablet) {
    font-size: calc(1vw * 1000 / 768); // 10px on 1440px screen width
    letter-spacing: toEm(-1);
  }

  @media (min-width: $breakpoint-laptop) {
    font-size: calc(1vw * 1000 / 1436); // 10px on 1440px screen width
  }
}
